html {
    overflow-x: hidden;
}

body {
    background-color: rgb(25, 30, 40);
    font-family: sans-serif;
}

.button {
    background-color: black;
    position: relative;
    left: -20px;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-radius: 10px;
    margin: 10px;
}

#HeadingDiv {
    background-color: white;
    text-align: center;
    width: 100vw;
    height: 75px;
    position: relative;
    left: -10px;
    top: -15px;
}

#Heading {
    font-size: 50px;
    color: rgb(25, 30, 40);
    position: relative;
    top: 10px;
    font-weight: 600;
}

#Buttons {
    position: relative;
    top: 130px;
    left: 570px;
}

.Display {
    color: white;
    text-align: center;
    position: relative;
    left: 450px;
    bottom: 170px;
    width: 650px;
    font-size: 25px;
}

.ScoreLabel {
    color: rgb(25, 30, 40);
    border: 2px solid white;
    width: 32px;
    background-color: white;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 2px;
    border-radius: 4px;
    zoom: 130%;
    font-weight: 600;
}

#compScoreLabel {
    width: 40px;
    position: relative;
    left: 690px;
    bottom: 100px;
}

#userScoreLabel {
    position: relative;
    left: 450px;
    bottom: 60px;
}

#ScoreBoard {
    position: relative;
    top: 70px;
}

#scoreBorder {
    border: 3px solid white;
    width: 300px;
    height: 75px;
    border-radius: 6px;
    margin: 0px;
    position: relative;
    left: 620px;
}

.Score {
    color: white;
    position: relative;
    bottom: 360px;
    left: 730px;
}